body{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: #f5f5f5;
    .container{
        margin: 0 50px;
        .body-content {
            min-height: 35rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .wrapper{
        .container {
            margin: 0 20px;
            .body-content {
                min-height: 35rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper{
        .container {
            margin: 0 10px;
            .body-content {
                min-height: 55rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper{
        .container {
            margin: 0;
        }
    }
}